.customize-support > .fixed-top {
  top: 32px;
}

@include media-breakpoint-up(sm, $grid-breakpoints) {
  .navbar {
    padding: $navbar-padding-y * 3 $navbar-padding-x;
  }

  .top-nav-collapse {
    padding: $navbar-padding-y $navbar-padding-x;
  }
}

@include media-breakpoint-down(xs, $grid-breakpoints) {
  .navbar {
    background-color: map_get($theme-colors, dark);
  }

  body {
    margin-top: 5rem;
  }
}

.navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.card-link {
  color: #fff;
  &:hover {
    color: $gray-300;
    img {
      transition: opacity .2s ease-in-out;
      opacity: 0.7;
    }
  }
}

@include media-breakpoint-up(sm, $grid-breakpoints) {
  .post-title {
    padding: ($navbar-padding-y * 7) + $nav-link-height;
  }
}

.container {
  max-width: 100%;
}

.parallax {
  background: no-repeat fixed 50% 0;
  background-size: cover;
}

.grayscale {
  filter: #{'grayscale(1)'};
  transition: filter .1s linear;
  &:hover {
    filter: none;
  }
}